# standard
*~
*.pyc
*.pyo
*.swo
*.swp
*.mo
*.egg-info
/.coverage
/.tests
/.Python
/PYSMELLTAGS*

# env
/bin
/include
/lib
/pyvenv.cfg

# local
/docs/_build
/components
/node_modules/
/npm-debug.log
/build/

# Mac
.DS_Store

# IDE
.idea
