# standard
*~
*.pyc
*.pyo
*.swo
*.swp
*.mo
*.egg-info
/.coverage
/.tests
/.Python
/PYSMELLTAGS*

# env
/bin
/include
/lib

# local
/docs/_build
/components
/node_modules/
/npm-debug.log

# Mac
.DS_Store
